.skin1{

    padding:3%;

    .tmp{fill:#F1F0F0;}
    .h1{font-family:"Arial"; font-size:35px; fill:#6ca8b9; font-weight:bold; ____fill:red}
    .p2 {font-family:"Arial"; font-size:10px; fill:#333; ____fill:red}
    .p3 {font-family:"Arial"; font-size:9px; fill:#333; ____fill:red}
    .p2b {font-family:"Arial"; font-size:11px; font-weight:600; fill:#333;____fill:red}
    .h2 {font-family:"Arial"; font-size:12px; fill:#000; font-weight:600; ____fill:red}
    .subheding {font-family:"Arial"; font-size:10px; fill:rgba(0, 0, 0, 0.66); font-weight:600; ____fill:red}
    .li-disc {fill:#333; ____fill:red}
    .text-cap {font-size:24px; fill: #fff;font-family:"Arial";}
    .line {stroke:#999;___stroke:#090;}

    .contact-name{
        color: cornflowerblue;
       
        font-size: 3rem;
        font-weight: bold;
        padding: 5px 0px;
    }
    .address{
        padding: 5px 0px;
    }
    .educationSection{

        .heading{
            color: darkcyan;
            font-size: 1.7rem;
            width: 100%;
            
        }
    }
}

.divider{
    width: 100%;
    border-bottom: 1px solid darkcyan;
}