

        .h1{font-family:"Arial"; font-size:40px; fill:#000; }
        .p2 {font-family:"Arial"; font-size:9px; fill:#333; }
        .p3 {font-family:"Arial"; font-size:09px; fill:#9b9b9b; }
        .p2b {font-family:"Arial"; font-size:11px; font-weight:600; fill:#000; }
        .h2 {font-family:"Arial"; font-size:9px; fill:#000; font-weight:600; }
        .subheding {font-family:"Arial"; font-size:9px; fill:#333; font-weight:600; }
        .li-disc {fill:#333; }
        .text-cap {font-size:24px; fill: #fff;font-family:"Arial";}
        .line{stroke:#fff; stroke:#090;}
        .bold{font-weight:700}

        .r1 {margin:0 auto; }
        .colorFill {fill:#F1F0F0}


    .contact-name{
        color: cornflowerblue;
       
        font-size: 3rem;
        font-weight: bold;
        padding: 5px 0px;
    }
    .address{
        padding: 5px 0px;
    }
    .educationSection{

        .heading{
            color: darkcyan;
            font-size: 1.7rem;
            width: 100%;
            
        }
    }

    .experienceSection{

        .heading{
            color: darkcyan;
            font-size: 1.7rem;
            width: 100%;
            
        }
    }

.divider{
    width: 100%;
    border-bottom: 1px solid darkcyan;
}